<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd ">
	<bean id="department" class="com.victor.collection.Department">
		<property name="name" value="财务部"/>
		<!-- 给数组赋值 -->
		<property name="empName" >
			<list>
				<value>XIAOMING</value>
				<value>XIAOZHANG</value>
			</list>
		</property>
		<!-- 给list赋值 -->
		<property name="list">
			<list>
				<ref bean="emp1"/>
				<ref bean="emp2"/>
			</list>
		</property>
		<!-- 给set赋值 -->
		<property name="set">
			<list>
				<ref bean="emp1"/>
				<ref bean="emp2"/>
			</list>
		</property>
		<!-- 给map赋值   key不一样就可以装配bean，若key相同则后面的值覆盖前面的 -->
		<property name="map">
			<map>
				<entry key="1" value-ref="emp1"></entry>
				<entry key="2" value-ref="emp2"></entry>
				<entry key="3" value-ref="emp2"></entry>
			</map>
		</property>
		<!-- 给properties赋值 -->
		<property name="pp">
			<props>
				<prop key="1">jack</prop>
				<prop key="2">tom</prop>
			</props>
		</property>
	</bean> 
	<bean id="emp1" class="com.victor.collection.Employee">
			<property name="name" value="tom"></property>
		</bean>
		<bean id="emp2" class="com.victor.collection.Employee">
			<property name="name" value="jack"></property>
		</bean>
	
</beans>